*{
  margin: 0px;
  padding: 0px;
}


.App {
  text-align: center;
  color: #fff;
}

/**************************************************** Main Header Styling **********************************/
.mainHeader{
  height: 50px;
  padding: 20px;
  background-color: rgb(21,77,109);
  border-bottom: 1px solid rgb(14,55,78);
}

.headRight{
  float: right;
  font-style: italic;
}

.headLeft{
  float: left;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.headLeft:hover .headRight:hover{
  color: #ddd;
}

/******************************************************** Sign In Page Styling****************************************/
.signInCard{
  background-color: rgb(21,77,109);
  border: 1px solid black;
  width: 300px;
  height: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
}

.signInCard label{
  display: block;
  margin-bottom: 10px;
}

.signInCard .form-field{
  margin: 30px auto;
}

.signInCard input{
  background-color: rgb(179,210,211);
  height: 25px;
  text-align: center;
  padding: 0px 3px;
  border: none;
  border-radius: 3px;
}

.signInCard #signin-button{
  margin-top: 50px;
  height: 30px;
  width: 80px;
  color: #fff;
  background-color: rgb(21,60,70);
}


/****************************************************** Welcome Banner Styling **************************************/

.welcomeBanner>h1{
  margin-top: 100px;
  margin-bottom: 20px;
}

.welcomeBanner > p {
  padding: 5px;
}


/****************************************************** News Feed Styling ********************************************/
.newsFeed{
  margin: 20px;
}




/****************************************************** News Item Styling ********************************************/
.newsItem{
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: rgb(5, 98, 151);
  height: 250px;
  min-width: 1000px;
  padding: 30px;
  margin: 30px; 
  border-radius: 3px;
}

.newsImage{
  width: 25%;
  height: 100%;
  border-radius: 3px;
  border: 2px solid rgb(12, 77, 131);
}

.articleBody{
  position: relative;
  padding: 10px ;
  box-sizing: border-box;
  background-color: rgb(2, 73, 117);
  height: 100%;
  width: 70%;
  margin-left: 30px;
  border-radius: 3px;
}

.articleTitle{
  color: rgb(6, 160, 199);
  font-family: Arial, Helvetica, sans-serif;
}

.articleContent , .articleDescription{
  color: #ccc;
  font-family:'Courier New', Courier, monospace;
  text-align: left;
}

.articleLink{
  text-decoration: none;
  color: rgb(4, 141, 175);
}

.articleFooter{
  position: absolute;
  bottom: 0;
  color: rgb(4, 141, 175);
  display: flex;
  justify-content: space-around;
  border-radius: 3px;
  border-top: 2px solid rgb(1, 62, 90);
  width: 98%;
}


/***************************************************************** Archive Feed **************************************************/
.showArchiveHandler{
  padding-top: 50px;
  font-size: 20px;
}

.showmainHandler{
  padding-top: 50px;
  font-size: 20px;
}

.archiveFeed{
  margin-top: 100px;
}

/**************************************************************** Main Footer Styling ***************************************************/

#main-footer{
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  background-color: rgb(21,77,109);
}